#menuItem{
    margin-bottom: 15px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 2px 9px;
    border-radius: 8px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}