<!--p>Manager View</p>
<div class="bar">
  <a href="" routerLink="/users">Users</a>&nbsp;|&nbsp;
  <a href="" routerLink="/menuItems">MenuItems</a>&nbsp;|&nbsp;
  <a href="" routerLink="/categories">Categories</a>&nbsp;|&nbsp;
</div>
<br>
<br>
<router-outlet></router-outlet-->

<h1>Managment View</h1>
<div class="navigation">
  <nav>
    <div>
      <a routerLink="/tables">Tische</a>  
      <a routerLink="/categories">Kategorien</a>
      <a href="" routerLink="/menuItems">MenuItems</a>
      <a href="" routerLink="/users">Users</a>
      <div>
        <a class="log_out">Log out</a>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>